@use '~styles/utilities' as *;

.home-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .scroll-button {
    display: none;

    @include set-from-screen('xl') {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &--up {
      top: 18px;
    }

    &--down {
      bottom: 18px;
    }

    .scroll-indicator {
      height: 24px;
    }
  }
}
