@use '~styles/utilities' as *;

.app-navigation {
  display: none;

  @include set-from-screen('m') {
    display: block;
    width: 240px;
    background-color: color(primary800);
    position: sticky;
    top: calc(50% - 327px);
    left: 0;
    z-index: 1;

    &__path {
      width: 100%;
      height: 100%;
    }
  }

  @include set-from-screen('l') {
    width: 396px;
    height: 100vh;
    top: 0;
    transform: none;
  }

  @include set-from-screen('xxl') {
    left: calc((100% - 1920px) / 2);
  }
}
