@use 'sass:color';

@use '~styles/utilities' as *;

@use '~styles/bases/bases';
@use '~styles/bases/classes';
@use '~styles/bases/flexy-grid';

#app {
  width: 100%;
  height: 100dvh;

  ::-webkit-scrollbar {
    background: none;
    width: 8px;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-track {
    background-color: color.adjust(color(grey900), $lightness: 10%);
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(color(grey100), .4);
  }
}
