@use 'sass:map';

$breakpoints: (
  xxs :  320px,
  xs  :  408px,
  s   :  768px,
  m   : 1024px,
  l   : 1200px,
  xl  : 1600px,
  xxl : 1921px
);

@mixin set-from-screen($breakpoint) {
  $min-width: map.get($breakpoints, $breakpoint);

  @media screen and (min-width: #{$min-width - 1px}) {
    @content;
  }
}