@use 'sass:map';

$colors: (
  grey000      : #fff,
  grey100      : #F5F5F5,
  grey200      : #c4c4c4,
  grey500      : #8c868a,
  grey600      : #6d6d6d,
  grey700      : #3A3B3F,
  grey800      : #2b2b2b,
  grey900      : #181818,
  grey999      : #000,
  primary300   : #4F7CFF,
  primary800   : #051630,
  primary900   : #0B0E14,
  text300      : #E6E8EF,
  text500      : #9AA0B4,
  text800      : #6B7280,
  success300   : #22d397,
  warning100   : #f0f042,
  warning300   : #d6914e,
  danger300    : #FF3D00,
);

@function color($colorName) {
  @return map.get($colors, $colorName);
}
