@use 'sass:math';
@use 'sass:map';

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/spacegrotesk/spacegrotesk-light.eot');
  src: url('/fonts/spacegrotesk/spacegrotesk-light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/spacegrotesk/spacegrotesk-light.woff2') format('woff2'),
       url('/fonts/spacegrotesk/spacegrotesk-light.woff') format('woff'),
       url('/fonts/spacegrotesk/spacegrotesk-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/spacegrotesk/spacegrotesk-regular.eot');
  src: url('/fonts/spacegrotesk/spacegrotesk-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/spacegrotesk/spacegrotesk-regular.woff2') format('woff2'),
       url('/fonts/spacegrotesk/spacegrotesk-regular.woff') format('woff'),
       url('/fonts/spacegrotesk/spacegrotesk-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/spacegrotesk/spacegrotesk-medium.eot');
  src: url('/fonts/spacegrotesk/spacegrotesk-medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/spacegrotesk/spacegrotesk-medium.woff2') format('woff2'),
       url('/fonts/spacegrotesk/spacegrotesk-medium.woff') format('woff'),
       url('/fonts/spacegrotesk/spacegrotesk-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/spacegrotesk/spacegrotesk-semibold.eot');
  src: url('/fonts/spacegrotesk/spacegrotesk-semibold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/spacegrotesk/spacegrotesk-semibold.woff2') format('woff2'),
       url('/fonts/spacegrotesk/spacegrotesk-semibold.woff') format('woff'),
       url('/fonts/spacegrotesk/spacegrotesk-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/spacegrotesk/spacegrotesk-bold.eot');
  src: url('/fonts/spacegrotesk/spacegrotesk-bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/spacegrotesk/spacegrotesk-bold.woff2') format('woff2'),
       url('/fonts/spacegrotesk/spacegrotesk-bold.woff') format('woff'),
       url('/fonts/spacegrotesk/spacegrotesk-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@mixin font-family($font: 'Open Sans', $weight: 400, $serif: false, $italic: false) {
  @if $serif {
    font-family: #{$font}, serif;
  } @else {
    font-family: #{$font}, sans-serif;
  }
  font-weight: $weight;

  @if $italic {
    font-style: italic;
  }
}

$font-sizes: (
  xxs: 11px,
  xs : 12px,
  s  : 14px,
  m  : 16px,
  l  : 18px,
  xl : 23px,
  xxl: 28px,
);

$font-heights: (
  xxs: 14px,
  xs : 16px,
  s  : 18px,
  m  : 22px,
  l  : 24px,
  xl : 32px,
  xxl: 36px,
);

@function rem($size, $base: 16px) {
  $remSize: math.div($size, $base);
  //Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}

@mixin set-font-scale($size: 'm', $height: 'auto') {
  font-size: rem(map.get($font-sizes, $size));
  @if $height == 'auto' {
    line-height: rem(map.get($font-heights, $size));
  } @else {
    line-height: rem(map.get($font-heights, $height));
  }
}
