@font-face {
  font-family: 'icomoon';
  src: url('~fonts/icomoon/icomoon.eot?ws6lg2');
  src: url('~fonts/icomoon/icomoon.eot?ws6lg2#iefix') format('embedded-opentype'),
       url('~fonts/icomoon/icomoon.ttf?ws6lg2') format('truetype'),
       url('~fonts/icomoon/icomoon.woff?ws6lg2') format('woff'),
       url('~fonts/icomoon/icomoon.svg?ws6lg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$icons: (
  arrow-left  : ('icomoon', '\e900'),
  arrow-right : ('icomoon', '\e901'),
  github      : ('icomoon', '\e902'),
  linkedin    : ('icomoon', '\e903'),
);

@mixin icon($iconName) {
  content: nth(map-get($icons, $iconName), 2);
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: #{nth(map-get($icons, $iconName), 1)} !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
