@use 'sass:map';
@use 'sass:list';

@font-face {
  font-family: 'icomoon';
  src: url('~fonts/icomoon/icomoon.eot?ws6lg2');
  src: url('~fonts/icomoon/icomoon.eot?ws6lg2#iefix') format('embedded-opentype'),
       url('~fonts/icomoon/icomoon.ttf?ws6lg2') format('truetype'),
       url('~fonts/icomoon/icomoon.woff?ws6lg2') format('woff'),
       url('~fonts/icomoon/icomoon.svg?ws6lg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$icons: (
  arrow-left  : ('icomoon', '\e900'),
  arrow-right : ('icomoon', '\e901'),
  refresh     : ('icomoon', '\e902'),
  github      : ('icomoon', '\e903'),
  linkedin    : ('icomoon', '\e904'),
  trophy      : ('icomoon', '\e905'),
  trash       : ('icomoon', '\e906'),
  setting     : ('icomoon', '\e907'),
  grid        : ('icomoon', '\e908'),
  crosshair   : ('icomoon', '\e909'),
  fullscreen  : ('icomoon', '\e90a'),
  play        : ('icomoon', '\e90b'),
  pause       : ('icomoon', '\e90c'),
);

@mixin icon($iconName) {
  content: list.nth(map.get($icons, $iconName), 2);
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: #{list.nth(map.get($icons, $iconName), 1)} !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
