@use '~styles/utilities' as *;

.scene {
  width: 100%;
  max-height: 200px;
  height: 200px;
  overflow: hidden;

  &--fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    border-radius: 0 !important;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    max-height: none !important;
  }
}
