@use '~styles/utilities' as *;

.scene {
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;

  &--fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100dvh;
  }
}
